.main-chat
  .main-chat__group-info
    .main-chat__group-info__infos
      .infos-group
        .nandemoyosagena-classname-koko-kakuyo
          = @group.name
      .infos-member
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__btn
      %li= link_to "Edit", edit_group_path(@group), class:"editbtn"

  .main-chat__message-list
    .main-chat__message-list__lists
      .messages
        = render partial: 'message', collection: @messages

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__former
        .input-form
          = f.text_field :content, class: "input-text", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "input-file" do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'file-text'
        .input-btn
          = f.submit 'Send', class: "submit-btn"
